@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

section {
    margin-top: 130px;
}

.title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.text {
    padding: 24px 0 48px;
    max-width: 600px;
    margin: 0 auto;
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* header related styles */
header {
    display: flex;
    justify-content: center;
    background-color: #E554731A;
}

.intro {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.introContainer {
    min-width: 40vw;
    max-width: 45vw;
    padding: 15vh 0 10vh;
    /* background-color: aqua; */
}

.slogan {
    font-size: 80px;
    color: #272727;
    font-weight: 800;
}

.introText {
    padding: 32px 0;
    font-size: 18px;
    color: #27272799;
    font-weight: 400;
}

.primaryBtn {
    padding: 1.2em 2.5em;
    border: none;
    border-radius: 8px;
    background-color: #E55473;
    color: #fff;
    font-size: 1.2em;
}

.headerFlower {
    /* background-color: aquamarine; */
    /* position: relative; */
    margin-top: auto;
    padding-top: 5vh;
    width: 33vw;
}

/* main sector styles*/

.featuredFlowerTile {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featuredFlowerText {
    padding: 24px 0 48px;
    max-width: 600px;
    margin: 0 auto;
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.imageContainer {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.imageContainer > div {
    width: 25vw;
    height: 60vh;
    border-radius: 300px 300px 0px 0px;
}

.image1 {
    background-color: #a7216226;
    background-image: url('../images/pngwing 6.png');
    background-size: 16vw;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.image2 {
    background-color: #0597a026;
    background-image: url('../images/pngwing 5.png');
    background-size: 20vw;
    background-repeat: no-repeat;
    background-position: center;
}

.image3 {
    background-color: #477d1126;
    background-image: url('../images/pngwing 7.png');
    background-size: 17vw;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.captionContainer {
    margin: 18px auto 0;
    width: 80vw;
    display: flex;
    justify-content: space-around;
}

.captionText {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* service section */
.services {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: #2727270d;
}

.serviceContainer {
    min-width: 60vw;
    padding: 86px 0;
    display: flex;
    justify-content: space-between;
}


.serviceInfo > img {
    display: block;
    margin: 0 auto;
}

.serviceText {
    padding: 0 10px;
    color: #272727cc;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}

/* offer section */

.offerSection {
    display: flex;
    justify-content: center;
    background-color: #E554730D;
}

.info {
    display: flex;
    align-items: center;
}

.offerInfoContainer {
    padding: 230px 100px 160px 0;
    max-width: 600px;
    text-align: center;
}

.offerTitle {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.offerTitle > span {
    color: #E55473;
}

.offerDescription {
    padding: 24px 0 32px;
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.offerImg {
    position: relative;
    height: 70%;
}

/* instagram section styles */

.instaImgContainer {
    /* background-color: aqua; */
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.instaImg {
    /* background-color: aquamarine; */
    width: 19vw;
}

/* get deals sector */
.getDeals {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    background-image: url('../images/Rectangle 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.dealText > .title {
    padding-top: 120px;
}

.dealsForm {
    display: flex;
    justify-content: center;
    padding-bottom: 120px;

}

.getDealsEmail {
    border: none;
    border-radius: 8px;
    padding: 23px 0 23px 22px;
    margin-right: 16px;
    width: 700px;
    color: #27272799;
    font-size: 16px;
    font-weight: 400;
}

/* footer */
footer {
    margin-top: 130px;
    background-color: #111010;
    text-align: center;
}
.footerTitle {
    padding-top: 128px;
    font-size: 48px;
    font-weight: 800;
}

.footerText1 {
    padding: 24px 0 32px;
    max-width: 600px;
    margin: 0 auto;
    color: #ffffffe6;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footerText2 {
    color: #ffffff66;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 128px;
}