@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    /* box-sizing: border-box; */
}

section {
    margin-top: 130px;
}

.intro {
    background-color: #E554731A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introContainer {
    max-width: 50%;
    padding: 5% 0;
}

.slogan {
    font-size: 5em;
    color: #272727;
    font-weight: 800;
}

.introText {
    padding: 1.8em 0;
    font-size: 1.2em;
    color: #27272799;
    font-weight: 400;
}

.primaryBtn {
    padding: 1.2em 2.5em;
    border: none;
    border-radius: 8px;
    background-color: #E55473;
    color: #fff;
    font-size: 1.2em;
}

.headerFlower {
    width: 33%;
    position: bottom;
}
    
    /* position: bottom; */


/* main sector styles*/

/*featured flower sector styles*/
/* .featuredFlower {
    text-align: center;
}

.featuredFlowerTitle {
    color: #272727;
font-size: 40px;
font-weight: 800;
}

.featuredFlowerDescription {
    /* max-width: 31%; */
    /*color: #27272799;
font-size: 18px;
font-weight: 400;
}

.flowerContainer {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.flower {
    /* height: 100%;
    width: 33%; */
/*} 

.flowerImageContainer {
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}

.flowerImageContainer > img {
    padding: 0 76px;
    max-width: 80%;
} */

/* offer section */

.offerSection {
    display: flex;
    justify-content: center;
    background-color: #E554730D;
}

.info {
    display: flex;
    align-items: center;
}

.offerInfoContainer {
    padding: 230px 100px 160px 0;
    max-width: 600px;
    text-align: center;
    /* background-color: aqua; */
}

.offerTitle {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    /* text-align: center; */
}

.offerTitle > span {
    color: #E55473;
}

.offerDescription {
    padding: 24px 0 32px;
    color: #27272799;
    /* text-align: center; */
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.offerImg {
    position: relative;
    height: 70%;
}